Source: vert.x
Section: net
Priority: optional
Maintainer: Diego López León <diegoll@itcrowdarg.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://vertx.io
Vcs-Git: git://github.com/diega/vertx-debian.git
Vcs-Browser: https://github.com/diega/vertx-debian

Package: vert.x
Architecture: all
Depends: j2re1.7, jruby, jython
Description: An event driven application framework
 Vert.x is an event driven application framework that runs on
 the JVM - a run-time with real concurrency and unrivalled performance.
 Vert.x then exposes the API in Ruby, Java, Groovy, JavaScript and Python
